body {
    width: 160px;
    height: 70px;
    background-color: rgb(230, 247, 250);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type='checkbox'].switch {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 10px;
    transition: 
        border-color 0.2s, 
        background 0.2s;
    -moz-transition: 
        border-color 0.2s,
        background 0.2s;
    -webkit-transition: 
        border-color 0.2s,
        background 0.2s;
    -o-transition: 
        border-color 0.2s,
        background 0.2s;
}

input[type='checkbox'].switch::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgb(126, 126, 126);
    box-shadow: 0, 0, 2px, #999;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s, background 0.3s ease-in-out;
    -o-transition: 0.2s;
    top: 2px;
    position: relative;
    left: 2px;
}

input[type='checkbox'].switch:checked {
    background: rgb(19, 184, 206);
}

input[type='checkbox'].switch:checked::after {
    content: '';
    position: relative;
    left: 55%;
    top: 2px;
    background: rgb(255, 255, 255);
}

input[type='number']{
    position: relative;
    width: 52px;
    height: 20px;
    background: rgb(244, 244, 244);
    transition: 0.15s;
    border-radius: 5px;
}

input[type='number']:focus {
    background: rgb(200, 200, 200);
}